#sign_out_div
{
	margin: auto;
	background-color: orange;
	width: 40%;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	color: white;
	border: 1px outset #ffb303;
	font-size: 14px;
}
#sign_out_div:hover
{
	background-color: #ff9900;
	text-shadow: -1px -1px 2px #ffb303;
	border: 1px inset #ffb303;
}
#add_item
{
	border: 1px solid black;
	display: flex;
	flex-direction: raw;
	justify-content: space-between;
}
#add_item div
{
	border: 1px solid red;
	width: 33%;
	text-align: center;
}
#add_item div:nth-child(1)
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#add_item div:nth-child(3)
{
	display: flex;
	flex-direction: raw;
	justify-content: space-around;
}
#add_item div:nth-child(3) label
{
	width: 30%;
}
#art_cost
{
	float: left;
}

#add_item textarea
{
	width:70%;
	height: 50px;
}
.admin_inp
{
	height:25px;
}
#add_item div:nth-child(1) .admin_inp
{
	width: 60%;
}