/*  ---------------------------------- table ---------------------------------------- */
table
{
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
}
thead th
{
	border: 1px solid black;
}
thead th:nth-child(1)
{
	width:23%;
}
thead th:nth-child(2)
{
	width: 40%;
}
thead th:nth-child(3)
{
	width: 13%;
}
thead th:nth-child(4)
{
	width: 12%;
}
thead th:nth-child(5)
{
	width:12%;
}
th,td
{
	padding: 20px;
}
tr:nth-child(odd)
{
	background-color: white;
}
tr:nth-child(even)
{
	background-color: lightgrey;
}
thead th
{
	background-color: lightgrey;
}
tr td:nth-child(1), tr td:nth-child(3), tr td:nth-child(4), tr td:nth-child(5)
{
	text-align: center;
}
tr td:nth-child(5)
{
	/*border: 2px solid blue;*/
}
tr td:nth-child(5) a
{
	font-size: 2vw;
	padding: 20px;
	text-decoration: none;
	color: black;
	/*border: 2px solid blue;*/
}
tr td:nth-child(5) a:hover
{
	color:red;
	text-shadow: -1px -1px grey;
}
/*-----------------------------------------------------------------------------------------------------------*/
.chk_sub a
{
	text-decoration: none;
	color: white;
	padding: 10px;
	padding-right: 15%;
	padding-left: 15%;
	/*border: 1px solid white;*/
}
.chk_sub
{
	text-align: center;
	width: 10%;
	margin: auto;
	padding-top:10px;
	padding-bottom:10px;
	background-color: #ffb303;
	border: 1px outset #FFDD33;
	font-size: 0.6vw;
	text-shadow: 1px 1px 0px grey;
}
.chk_sub:hover
{
	background-color: orange;
	border: 1px inset #FFDD33;
}