body
{
	font-family: Verdana, Arial, sans-serif;
	margin:0;
	background-color: #f6f6f6;
}
header
{
	position: relative;
	margin:auto;
	background-color: #ffb303;
	/*height:150px;*/
	border-bottom: 1px solid orange;
	/*width: 90%;*/
	width:100%;
	display: flex;
	flex-direction: raw;
	justify-content: space-between;
	box-shadow: 0px 1px 1px black;
}
#left_header
{
	font-family: Fantasy, Arial, sans-serif;
	padding-left: 7%;
	font-size: 1.5vw;
	margin:0;
}
h1
{
	margin:0;
	text-shadow: 1px 1px 5px grey;
}
#right_header
{
	width: 20%;
	/*border: 1px solid green;*/
}
#right_header ul
{
	/*border:1px solid red;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style-type: none;
}
/* -------------------------------------------------------------------- Home page spec ... -------------------------------------------------------------------------------------------------- */
#sign_in_div, #sign_up_div
{
	border: 1px outset #ffb303;
}
#right_header div
{
	text-align: center;
	color: white;
	padding: 20px;
	background-color: orange;
	margin:5px;
}
#sign_in_form, #sign_up_form
{
	display:none;
}
#sign_in_div:hover, #sign_up_div:hover
{
	background-color: #ff9900;
	border: 1px inset #ffb303;
}
#sign_in_div:hover #sign_in_form
{
	display: block;
	/*height: 100px;*/
	width: 12vw;
	position: absolute;
	background: none;
	display: flex;
	/*border: 1px solid blue;*/
}
#sign_up_div:hover #sign_up_form
{
	display: block;
	position: absolute;
	/*height: 100px;*/
	width: 12vw;
	background: none;
	display: flex;
	/*border: 1px solid blue;*/
}
#sign_in_form form, #sign_up_form form
{
	margin: auto;
	padding: 10px;
	width: 100%;
	background-color: #ff9900;
	border: 1px solid #ffb303;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	top: -6px;
}
.sign_input
{
	margin: auto;
	width:80%;
	height:25px;
}
.sign_submit
{
	margin: auto;
	width:80%;
	border: none;
	background-color: #ff9900;
	border: 1px outset #ffb303;
	height:50px;
	color: white;
	font-size: 0.6vw;
	text-shadow: 1px 1px 0px black;
}
.sign_submit:hover
{
	background-color: #ff9900;
	border: 1px inset #ffb303;
	text-shadow: -1px -1px 2px #ffb303;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#main_page
{
	background-color: white;
	/*border: 1px solid black;*/
	box-shadow: 1px 1px 3px black, -1px 1px 3px black;
	margin:auto;
	width:60%;
	padding: 15px;
}
/* ------------------------------------------------------------------------------ Articles spec -------------------------------------------------------------------- */
/* ----------------- main layout ----------- */
.product_art
{
	width: 100%;
	display: flex;
	flex-direction: raw;
	justify-content: space-around;
	/*border: 1px solid black;*/
}
.art_img
{
	/*border: 1px solid black;*/
	width: 20%;
}
.art_img img
{
	width: 90%;
	border: 1px solid black;
}
.art_desc
{
	padding: 10px;
	/*border: 1px solid black;*/
	width: 100%;
}
.art_aside
{
	/*border: 1px solid black;*/
	width:20%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.art_form
{
	margin: 2px;
}
/* --------------------- details -------------------------- */
.art_title
{
	text-align: center;
}
.art_cost
{
	font-family: Arial;
	font-size: 1.7vw;
	color: orange;
	text-shadow: 1px 1px 1px black;
	font-weight: 100;
}
.art_sub
{
	width: 140%;
	margin: auto;
	border: none;
	background-color: #ffb303;
	border: 1px outset #FFDD33;
	height:42px;
	color: white;
	font-size: 0.6vw;
	text-shadow: 1px 1px 0px grey;
}
.art_sub:hover
{
	background-color: orange;
	border: 1px inset #FFDD33;
}