body
{
	font-family: Verdana, Arial, sans-serif;
	margin:0;
	background-color: #f6f6f6;
}
header
{
	position: relative;
	margin:auto;
	background-color: #ffb303;
	/*height:150px;*/
	border-bottom: 1px solid orange;
	/*width: 90%;*/
	width:100%;
	display: flex;
	flex-direction: raw;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 1px 1px black;
}
#left_header
{
	font-family: Fantasy, Arial, sans-serif;
	padding-left: 7%;
	font-size: 1.5vw;
	margin:0;
}
h1
{
	/*color:white;*/
	margin:0;
	text-shadow: -2px -2px #ffc266;
}
#right_header
{
	width: 20%;
	/*border: 1px solid green;*/
}
#right_header ul
{
	/*border:1px solid red;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style-type: none;
}
#main_page
{
	background-color: white;
	/*border: 1px solid black;*/
	box-shadow: 1px 1px 3px black, -1px 1px 3px black;
	margin:auto;
	width:60%;
	padding: 15px;
}
.main_menu
{
	width:30%;
	/*border: 1px dotted red;*/
}
.main_menu ul
{
	width:100%;
	/*border: 1px solid black;*/
	color: black;
	list-style-type: none;
	display: flex;
	flex-direction: raw;
	justify-content: space-around;
	padding-top: 30px;
}
.main_menu div
{
	/*border: 1px solid grey;*/
	width: 30%;
	text-align: center;
}
.main_menu a
{
	/*padding: 20px;*/
	/*border: 1px solid black;*/
	text-decoration: none;
	color: black;
}
.main_menu a:hover
{
	color: white;
	text-shadow: -1px -1px black;
}
/* ------------------------------------------------------------------------------ Articles spec -------------------------------------------------------------------- */
/* ----------------- main layout ----------- */
.product_art
{
	width: 100%;
	display: flex;
	flex-direction: raw;
	justify-content: space-around;
	align-items: center;
	/*border: 1px solid black;*/
}
.art_img
{
	/*border: 1px solid black;*/
	width: 25%;
}
.art_img img
{
	width: 100%;
	border: 1px solid black;
}
.art_desc
{
	padding: 10px;
	/*border: 1px solid black;*/
	width: 100%;
}
.art_aside
{
	/*border: 1px solid black;*/
	width:30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.art_form
{
	margin: 2px;
	/*border: 1px solid green;*/
	text-align: center;
}
/* --------------------- details -------------------------- */
.art_title
{
	text-align: center;
}
.but_div
{
	width:100%;
	/*border: 1px solid red;*/
}
.art_cost
{
	font-family: Arial;
	font-size: 1.7vw;
	color: orange;
	text-shadow: 1px 1px 1px black;
	font-weight: 100;
}
.art_sub a
{
	text-decoration: none;
	color: white;
	padding: 10px;
	padding-right: 15%;
	padding-left: 15%;
	/*border: 1px solid white;*/
}
.art_sub
{
	width: 80%;
	margin: auto;
	/*border: none;*/
	padding-top:10px;
	padding-bottom:10px;
	background-color: #ffb303;
	border: 1px outset #FFDD33;
	font-size: 0.6vw;
	text-shadow: 1px 1px 0px grey;
}
.art_sub:hover
{
	background-color: orange;
	border: 1px inset #FFDD33;
}
#sign_out_div
{
	margin: auto;
	background-color: orange;
	width: 40%;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	color: white;
	/*border: 1px outset #ffb303;*/
	font-size: 14px;
}
#sign_out_div:hover
{
	background-color: #ff9900;
	text-shadow: -1px -1px 2px #ffb303;
	border: 1px inset #ffb303;
}