<!DOCTYPE html>
<html>
<head>
	<title>Amazonne - Site officiel</title>
	<meta http-equiv="refresh" content="3; url=../index.php" />
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../style/global.css">
	<style type="text/css">
		body{ background-color: #f6f6f6; }
		#afailure_box
		{
			margin: auto;
			background-color: white;
			width: 70%;
			height: 250px;
			margin-top: 10%;
			box-shadow: 1px 1px 1px black;
			padding: 20px;
		}
		#afailure_box h1
		{
			text-shadow: -1px -1px 0px lightgrey;
		}
		#afailure_box p
		{
			color:lightgrey;
			text-shadow: -1px -1px 0px grey;
			font-weight: 100;
		}
	</style>
</head>
<body>
	<section id="afailure_box">
		<h1>Oops !</h1>
		<p>Something went wrong when you tried to sign in. <br />
			Please check your login/password and try again...<br />
		You'll be redirected in few seconds...</p>
	<section>
</body>
</html>
