<!DOCTYPE html>
<html>
<head>
	<title>Amazonne - Site officiel</title>
	<!-- <meta http-equiv="refresh" content="3; url=../index.php" /> -->
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../style/global.css">
	<style type="text/css">
		body{ background-color: #fff2e6; }
		#success_box
		{
			margin: auto;
			background-color: white;
			width: 70%;
			height: 250px;
			margin-top: 10%;
			box-shadow: 1px 1px 1px black;
			padding: 20px;
		}
	</style>
</head>
<body>
	<section id="success_box">
		<h1>Welcome on board !</h1>
		<p>Thanks for the subscription, you can now log on via the home page.<br />
		You' ll be redirected in few seconds ...</p>
	<section>
</body>
</html>